<section>
<div class="content">
  <h3>Contact us</h3>
  <h4>Have questions? Lets connect.</h4>
</div>

<div class="container">
  <div class="cont1">
    <!-- <label for="name">Name</label> -->
    <!-- <input type="text" placeholder="Enter your name"> -->
    <label for="email">Email</label>
    <input type="email" placeholder="Enter your email">
    <label for="subject">Subject</label>
    <select id="subject" name="subject" >
      <option value="improve">Improvements</option>
      <option value="error">Bugs</option>
      <option value="fault">Accuracy</option>
      <option value="others">others</option>
    </select>
    <label for="message">Message</label>
    <textarea rows="3" placeholder="Enter your message"></textarea>
    <button type="submit">Send a message</button>
  </div>
  <div class="cont2">
    <div class="box1">
       <h3>Email</h3>
   <h4>WeaponAI420&#64;gmail.com</h4>
  </div>
  
  <div class="box2">
    <h3>Connect with us</h3>
    <a href="https://github.com/sahilsk24">
      <!-- <img src="assets/github-mark-white.png"> -->
    <img src="assets/github-mark.png" target="_blank">
    </a>
    <a href="">
      <!-- <img src="assets/InBug-White.png"> -->
    <img src="assets/InBug-Black.png" target="_blank">
    </a>
  </div>

  </div>
</div>
</section>
